.pokeboard {
  position: absolute;
  top: 563px;
  left: 5px;
  width: 370px;
  height: 370px;
  background-image: url("../../assets/poke-board.png");
}

.pokeboard-energy-counter {
  position: absolute;
  top: 726px;
  font-weight: bold;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pokeboard-perception-cycle-counter {
  position: absolute;
  top: 605px;
  font-weight: bold;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pokeboard-action {
  position: absolute;
  width: 63px;
  height: 26px;
  top: 764px;
  left: 226px;
}

.pokeboard-left-arrow {
  position: absolute;
  cursor: pointer;
  width: 63px;
  height: 26px;
  top: 883px;
  left: 97px;
}

.pokeboard-right-arrow {
  position: absolute;
  cursor: pointer;
  width: 63px;
  height: 26px;
  top: 883px;
  left: 219px;
}

.pokeboard-action-pelear {
  background-image: url("../../assets/action-pelear.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.pokeboard-action-no-pelear {
  background-image: url("../../assets/action-no-pelear.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.pokeboard-action-moverse {
  background-image: url("../../assets/action-moverse.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.pokeboard-action-recolectar-pokebola {
  background-image: url("../../assets/action-pokeball.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.pokeboard-special-power {
  background-image: url("../../assets/special-power-active.png");
  position: absolute;
  width: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeboard-special-power-cooldown {
  font-weight: bold;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 12px;
  padding-right: 5px;
}

.pokeboard-special-power-1 {
  top: 833px;
  left: 148px;
}
.pokeboard-special-power-2 {
  top: 833px;
  left: 180px;
}
.pokeboard-special-power-3 {
  top: 833px;
  left: 211px;
}
