.map-node {
  position: absolute;
  width: 110px;
  height: 110px;
}

.map-node-with-pikachu {
  background-image: url("../../assets/pikachu.png");
}

.map-node-with-enemy {
  background-image: url("../../assets/gengar.png");
}
