.app-container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #578fcc;
}

.img-container {
  background-size: cover;
  background-position: center;
}

.map {
  background-image: url("./assets/pokemon_map.png");
  width: 1920px;
  height: 930px;
}
